@font-face {
    font-family: Bello;
    src: url(fonts/bello-script.ttf);
    font-display: swap;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/proxima-nova-regular.ttf);
    font-display: swap;
}

:root{
    --header-height: 50px;
}

* {
    background-color: #4F88EF;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 30px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}



.header__logo {
    font-family: Bello;
    font-size: 26px;
}

button {
    border: 0;
}


.header__nav-button__image {
    height: 14px;
    width: 14px;
}

nav {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin: 50px 0 0 0;
    
}

article {
    display: flex;
    padding: 10px 30px;
    width: 100vw;
    height: 120vh;
    background-color: white;
    color: black;
}

a {
    padding: 5px;
    border-radius: 3px;
    font-family: Proxima Nova;
    font-size: 24px;
    text-decoration: none;
}

a:selected {
    text-decoration: underline;
}

a:hover {
    background-color: #1166A5;
}


@media screen and (max-width: 500px) {
    header {
        position: fixed;
    }

    nav {
        margin: calc(50px + var(--header-height)) 0 0 0;
    }

    article {
        padding: 0 30px;
        padding-top: calc(10px + var(--header-height));
    }
}