@font-face {
    font-display: swap;
    font-family: Bello;
    src: url(fonts/bello-script.ttf);
}

@font-face {
    font-display: swap;
    font-family: Proxima Nova;
    src: url(fonts/proxima-nova-regular.ttf);
}

:root{
    --header-height: 70px;
}

* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    
}

header {
    background-color: #4F88EF;
    align-items: center;
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    width: 100vw;
}


a {
    border-radius: 3px;
    font-family: Proxima Nova;
    font-size: 24px;
    padding: 5px;
    text-decoration: none;
}

 a:selected {
    text-decoration: underline;
}

a:hover {
    background-color: #1166A5;
}


.header__left {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header__logo a {
    font-family: Bello;
    font-size: 26px;
}

/* Desktop */
.navigation--desktop > ul {
    display: flex;
    list-style-type: none;  
    gap: 20px; 
}

.navigation--desktop a {
    font-size: 14px;
}

.header__nav-button__avatar--desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
}

.header__avatar__logo {
    width: 80px;
    height: 10px;
}

.header__avatar__profile-picture {
    width: 36px;
    height: 36px;
    border-radius: 100%;}

/* End Desktop */

/* Mobile */
.navigation--mobile {
    background-color: #4F88EF;
    display: none;
    padding-top: 50px;
    flex-direction: column;
    height: calc(100vh);
}

.header__nav-button--mobile {
    border: 0;
    display: none; 

}
.header__nav-button__image--mobile {
    background-color: #4F88EF;
    height: 14px;
    width: 14px;
}

.navigation--mobile > ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    list-style-type: none;   
}
/* End Mobile */

article {
    background-color: white;
    color: black;
    display: flex;
    height: 120vh;
    padding: calc(10px + var(--header-height)) 40px;
    
    width: 100vw;
}


/* Toggles to mobile version */
@media screen and (max-width: 900px) {
    .navigation--mobile { 
    }

    .navigation--desktop {
        display: none;
    }

    .header__nav-button--mobile {
        display: flex;
    }

    .header__nav-button--desktop {
        display: none;
    }
}