* {
    background-color: #4F88EF;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    gap: 60px;

    margin: 20px 30px;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    font-family: bello;
    font-size: 26px;

}

.close-button {
    border: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    
}

a {
    font-family: Proxima Nova;
    font-size: 24px;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

/*test*/